body{
	background-image:url(imagens/3.jpg);
}
#test{
	transform:scale(0.3);
	transition:0.5s all;
bacground-color:#310096;
color:#111111;	
padding:15px;
margin:15px;
border:7px solid #D85346;
border-radius:30px;
opacity:0.5;
box-shadow:3px 3px 7px #000000;
display:block;
text-align:center;
font-weight:800;
}	
#test:hover{
	transform:rotate(230deg) scale(0.3);
	background-color:#310096;
	opacity:1;
}
a{
	color:#336791;
	font-size:20 px;
}
#ssilka{
	color:#8CC35E;
	bacground-color:#AB202E;
	border:1px solid #8DD35F;
	font-size:19 px;
	margin:50 px;
	padding:10 px;
}
.info{
color:#8DD35F;
}
#ssilka:hover{
	border:10px solid #323232
}
#vot{
	border:18 px dashed #323232;

}